src
tests
typings
bundled
build
temp
coverage
docs
wiki
gulpfile.js
bower.json
karma.conf.js
tsconfig.json
typings.json
tslint.json
wallaby.js
.travis.yml
.gitignore
.vscode
.publishrc
.idea
type_definitions